#page-activity-gushen{
  .mine-content{
    position: absolute;
    bottom: 40px;
    background: #fcfcfc;
    width: 100%;
    z-index: 999;
    .mine-info{
      position: relative;
      padding: 0 8px;
      height: 30px;
      line-height: 30px;
      font-size: 10px;
      .mine-num{
        color:#e20000;
      }
      .mine-num:first-child{
        padding-right: 10px;
      }
      .mine-cup{
        position: absolute;
        bottom:5px;
        right: 10px;
        width: 69px;
        height: 69px;
      }
    }
    .mine-buttons{
      height: 34px;
      line-height: 34px;
      display: flex;
      font-size: 13px;
      text-align: center;
      .mine-bailei{
        flex: 1;
        background: #ff6000;
        color: #fff;
      }
      .mine-zhengba{
        flex: 1;
        background: #0072ff;
        color: #fff;
      }
    }

  }
  .m-title{
    display: flex;
    height: 39px;
    background: #fff;
    .m-title-box{
      width: 70px;
      font-size: 10px;
      line-height: 38px;
      text-align: center;
      span{
        display: inline-block;
        padding-top: 4px;
      }
    }
    .m-title-tabs{
      flex: 1;
      height: 29px;
      line-height: 29px;
      font-size: 0;
      padding-top: 4px;
      .m-box{
        margin: 0 auto;
        width: 150px;
      }
      .u-tabs{
        display: inline-block;
        border: 1px solid #f42241;
        color: #f42241;
        font-size: 13px;
      }
      .u-tabs-l{
        border-radius: 5px 0 0 5px;
        padding: 0 8px 0 10px;
      }
      .u-tabs-r{
        border-radius:0 5px 5px 0;
        padding: 0 10px 0 8px;
      }
      .active{
        background: #f42241;
        color: #fff;
      }
    }
  }
  .m-content{
    margin-top: 10px;
    background: #fff;
    font-size: 12px;
    .m-panel{
      padding: 8px 0;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #e7e7e7;
      .m-num{
        text-align: center;
        width: 30px;
        img{
          width: 20px;
          height: 24px;
        }
      }
      .m-box{
        text-align: center;
        flex: 1;
        img{
          width: 35px;
          height: 35px;
        }
      }
    }
    .m-panel-title{
      .m-num,.m-box{
      }
    }
  }
  .m-winner{
    margin-top: 10px;
    background: #fff;
    .item-content{
      padding: 10px;
      border-bottom: 1px solid #e7e7e7;
    }
    .item-title{
      img{
        display: inline-block;
        vertical-align: middle;
        width: 34px;
        height: 34px;
      }
      .m-winner-title{
        display: inline-block;
        vertical-align: middle;
        .u-winner-name{
          font-size: 15px;
          color: #111;
        }
        .u-winner-num{
          font-size: 10px;
          color: #bbb;
        }
      }
    }
    .m-winner-info{
      text-align: right;
      .u-winner-time{
        font-size: 10px;
        color: #bbb;
      }
      .u-winner-state{
        font-size: 12px;
        color: #111;
      }
    }
  }
  .content-detail{
    background: url('../images/activity/bg_activity_gushen.png')repeat-y center;
    background-size: 100%;
    .u-title{
      display: block;
      margin: 10px auto;
      width: 300px;
    }
    .m-content-detail{
      padding: 0 8px;
      .m-panel{
        background: url('../images/activity/bg_panel.png')no-repeat center;
        background-size: 100%;
        height: 111px;
        padding-right: 8px;
        position: relative;
        margin-bottom: 8px;
        .u-flag{
          position: absolute;
          left:-2px;
          top:8px;
          background: url('../images/activity/img_name_1.png')no-repeat center;
          background-size: 125px 30px;
          width: 125px;
          height: 30px;
          padding-left: 23px;
          font-size: 15px;
          line-height: 30px;
          color:#fff;
        }
        .u-flag1{
          background: url('../images/activity/img_name_2.png')no-repeat center;
          background-size: 125px 30px;
        }
        .m-panel-top{
          text-align: right;
          font-size: 10px;
          color:#fdfeff;
          padding: 5px 0 0 0;
          height: 31px;
          .u-img_clock{
            width: 30px;
            height: 26px;
            vertical-align: middle;
            display: inline-block;
          }
          .u-time{
            vertical-align: middle;
            display: inline-block;
          }
        }
        .m-panel-bottom{
          display: flex;
          padding-top: 14px;
          .m-b-avatar{
            text-align: center;
            font-size: 12px;
            color:#fdfeff;
            margin: 0 20px;
            img{
              display: block;
              margin: 0 auto 2px auto;
              width: 42px;
              height: 42px;
            }
          }
          .m-b-info{
            background: url('../images/activity/bg_info.png')no-repeat center;
            background-size: 123px 56px;
            width: 123px;
            height: 56px;
            position: relative;
            margin-right: 6px;
            .u-b-info-title{
              position: absolute;
              width: 72px;
              height: 17px;
              line-height: 18px;
              top:-1px;
              left:50%;
              text-align: center;
              margin-left: -36px;
              color:#fdfeff;
              font-size: 12px;
            }
            .m-b-info-content{
              text-align: center;
              font-size: 15px;
              color:#feef00;
              padding-top: 20px;
              img{
                width: 24px;
                height: 27px;
              }
              .u-text-free{
                font-size: 10px;
                color:#fdfeff;
              }
            }
            .m-b-info-content *{
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
      }
    }

  }
  .m-pay-layer{
    position: fixed;
    top:120px;
    width: 300px;
    left:50%;
    margin-left: -150px;
    background: #fff;
    text-align: center;
    .m-layer-content{
      color:#111;
      font-size: 15px;
      padding: 36px 13px 0 13px;
      text-align: left;
      .m-layer-panel{
        white-space: nowrap;
        height: 26px;
        line-height: 26px;
        margin-bottom: 24px;
        .u-layer-name{
          width: 60px;
          
        }
        .u-layer-input{
          padding: 0 5px;
          width: 210px;
          height: 30px;
          border:1Px solid #bbb;
          font-size: 15px;
        }
        .u-layer-num{
          min-width: 60px;
          padding:0 5px;
          height: 25px;
          line-height: 25px;
          color:#fff;
          background: #f42241;
          text-align: center;
        }

      }
      .m-layer-panel *{
        display: inline-block;
        vertical-align: middle;
      }
      .m-shares{
        position: relative;
        width: 100%;
      }
      .m-shares-num{
        position: absolute;
        top:-28px;
        background: #fff;
        left: 30%;
        z-index: 99;
        padding: 10px;
        font-size: 13px;
        color:#bbb;
        border: 1Px solid  #e7e7e7;
        list-style: none;
        li{
          padding-bottom: 5px;
        }
      }
    }
    .u-layer-rule{
      color:#0072ff;
      border-bottom: 1Px solid #0072ff;
      font-size:12px;
      
    }
    .m-layer-rule{
      margin-bottom: 11px;
    }
    .u-layer-join{
      height: 44px;
      text-align: center;
      color:#fff;
      font-size: 15px;
      line-height: 44px;
      background: #f42241;
    }
  }
  .m-rule-layer{
    position: fixed;
    top:60px;
    width: 280px;
    left:50%;
    height: 400px;
    margin-left: -140px;
    background: #fff;
    text-align: center;
    .m-rule-content{
      overflow-y: scroll;
      margin-top: 30px;
      height: 360px;
      padding: 0px 15px 10px 15px;
      text-align: left;
      font-size: 12px;
      .u-rule-title{
        color:#f42241;
      }
      .u-rule-text{
        span{
          font-weight: 700;
        }
      }
    }
  }
  .m-win-layer{
 
    width: 320px;
    height: 290px;
    background: url('../images/activity/alert_win.png')no-repeat center;
    background-size: 100%;
    position: fixed;
    top:60px;
    margin-left: -160px;
    left: 50%;
    right:0;
    text-align: center;
    .m-win-layer-content{
      padding: 210px 40px 0 40px;
      .u-win-money{
        color:#feef00;
        font-size: 13px;
      }
      .m-win-box {
        color:#fff;
        text-align: left;
        font-size: 10px;
        padding-bottom: 8px;
        img{
          display: inline-block;
          vertical-align: middle;
          width: 31px;
          height: 31px;
        }
        .m-win-info{
          display: inline-block;
          vertical-align: middle;
        }
      }
      .u-win-tips{
        color:#8c88a4;
        font-size: 8.5px;
      }
    }
  }
  .m-win-layer_first{
    background: url('../images/activity/alert_first.png')no-repeat center;
    background-size: 100%;
  }
  .m-win-layer_second{
    background: url('../images/activity/alert_second.png')no-repeat center;
    background-size: 100%;
  }
  .m-win-layer_third{
    background: url('../images/activity/alert_third.png')no-repeat center;
    background-size: 100%;
  }
  .u-win-share{
    position: fixed;
    width: 115px;
    height: 35px;
    top:360px;
    margin-left: -58px;
    left:50%;
  }
}
